@import "fonts";
@import "variables";
@import "mixins";

@import "libs/normalize";

@import "components/button";
@import "components/header";
@import "components/categories";
@import "components/sortPopup";
@import "components/content";
@import "components/pizza-item";
@import "components/pizza-modal";
@import "components/cart";

html {
  padding: 30px 0;
  font-family: $main-font;
  color: $main-font-color;
  background-color: $app-background-color;

  @include respond-to(phone) {
    padding: 15px 0;
    font-size: 14px;
  }
  @include respond-to(tablet) {
    font-size: 15px;
  }
  @include respond-to(desktop) {
    font-size: 16px;
  }
  @include respond-to(lgDesktop) {
    font-size: 18px;
  }
}

.app {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 80px);
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  padding: 0 30px;
  box-sizing: border-box;

  @include respond-to(phone) {
    padding: 0;
    min-height: calc(100vh - 30px);
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  @include respond-to(phone) {
    max-width: 540px;
  }
  @include respond-to(tablet) {
    max-width: 960px;
  }
  @include respond-to(desktop) {
    max-width: 1140px;
  }
  @include respond-to(desktop) {
    max-width: 1140px;
  }
  @include respond-to(lgDesktop) {
    max-width: 1400px;
  }
}

@include respond-to(phone) {
  .Toastify__toast-container--bottom-left {
    width: 50%;
    bottom: 1em;
    left: 1em;
  }
}
