.button {
  display: inline-block;
  padding: 10px 25px;
  background-color: $main-color;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border: 1px solid transparent;
  color: #ffffff;

  &:hover {
    background-color: darken($main-color, 8%);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: darken($main-color, 12%);
    transform: translateY(1px);
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 15px;
  }

  &--cart {
    display: flex;
    align-items: center;
    line-height: 23px;
    padding: 12px 25px;

    img {
      margin-right: 5px;
      display: block;
    }

    span {
      font-weight: 600;
      font-size: rem(16);
    }
    &-mobile {
      @include flex-centered;
      position: fixed;
      width: 50px;
      height: 50px;
      bottom: 20px;
      right: 25px;
      border-radius: 50%;
      padding: 0;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
      user-select: none;

      img {
        width: 50%;
      }

      span {
        position: absolute;
        @include flex-centered;
        top: -5px;
        right: -5px;
        min-width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        border: 1px solid $main-color;
        color: $main-color;
      }
    }
  }
  &--category {
    color: $main-font-color;
    font-weight: bold;
    font-size: rem(18);
    background: #f9f9f9;

    &:hover,
    &:focus {
      background-color: darken(#f9f9f9, 5%);
    }

    &:active {
      background-color: darken(#f9f9f9, 8%);
    }

    &.active {
      background-color: #282828;
      color: #fff;
    }
  }

  &--black {
    background-color: #282828;
    color: #fff;
    font-weight: 700;
    padding: 15px 25px;
    &:hover {
      background-color: lighten(#282828, 8%);
    }
  }

  &--outline {
    background-color: #fff;
    border-color: $main-color;
    &,
    span {
      color: $main-color;
    }

    &:hover {
      background-color: $main-color;

      &,
      span {
        color: #fff;
      }
      path,
      rect {
        fill: #fff;
      }
    }

    &:active {
      background-color: darken($main-color, 8%);
    }
  }

  &--pay {
    padding: 15px 25px;
    min-width: 200px;
    span {
      color: #fff;
    }
  }

  &--circle {
    @include flex-centered;
    width: 32px;
    height: 32px;
    padding: 0;
    border-width: 2px;
  }
}
