.pizza {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__main {
    margin-bottom: 25px;
    @include respond-to(phone) {
      margin-bottom: 5px;
    }
  }
  &__preview {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: translateY(4px);
    }
    @include respond-to(phone) {
      width: 85%;
      margin: 0 auto;
    }
  }
  &__name {
    margin: 10px 0;
    font-size: rem(26);
  }

  &__desc {
    color: $alt-font-color;
    font-size: rem(16);
  }

  &__price {
    font-weight: 700;
    font-size: rem(20);
  }

  &__footer {
    @include flex-s-between;
  }
}
