.modal {
  @include flex-centered;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  @include respond-to(phone) {
    align-items: flex-end;
  }

  &__container {
    position: relative;
    display: flex;
    left: 0;
    right: 0;
    width: 60%;
    background: #fff;
    border-radius: 15px;
    @include respond-to(phone) {
      overflow: auto;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 15px 15px 0 0;
    }
    @include respond-to(tablet) {
      width: 80%;
      bottom: 10%;
    }
  }
  &__close {
    position: absolute;
    top: 10px;
    right: -35px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out 0s;
    &:hover {
      transform: scale(1.1);
    }

    @include respond-to(phone) {
      @include flex-centered;
      position: fixed;
      top: 15px;
      left: 15px;
      right: unset;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      z-index: 1;
      svg,
      path {
        width: 20px;
        height: 20px;
        fill: $main-font-color;
      }
    }
  }
  &__content {
    &-left {
      width: 60%;
      padding: 50px;
      box-sizing: border-box;

      img {
        width: 100%;
        height: auto;
        display: block;
        margin-left: 5%;
      }
      @include respond-to(phone) {
        width: 80%;
        padding: 25px;
      }
    }
    &-right {
      width: 40%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;

      @include respond-to(phone) {
        width: 100%;
      }

      h3 {
        font-size: 1.5rem;
        margin: 0 0 15px;
      }
      p {
        margin: 0;
      }
    }
  }
  &__options {
    ul {
      list-style: none;
      padding: 3px;
      display: flex;
      border-radius: 8px;
      overflow: hidden;
      background-color: #f3f3f3;
      user-select: none;

      li {
        text-align: center;
        padding: 8px;
        flex: 1;
        font-size: rem(14);
        font-weight: 600;
        cursor: pointer;
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          border-radius: 5px;
          cursor: auto;
        }
        &.disabled {
          opacity: 0.4;
          pointer-events: none;
        }
      }
    }
  }
}
